<!DOCTYPE html>
<html>
<head>
  <title>Datashift audio</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <%= stylesheet_link_tag    "datashift_audio_engine/application", media: "all" %>
  <%= javascript_include_tag "datashift_audio_engine/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
